@font-face {
  font-family: know;
  src: url(font/chaney-ultraextended-webfont.ttf);
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  min-height: 100vh;
}
#loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  /* animation: load 3s; */
}

.zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-7deg);
  font-size: 8.5vw;
  color: transparent;
  -webkit-text-stroke-width: 0.09vh;
  -webkit-text-stroke-color: #fff;
  outline: none;
  font-weight: 200;
  font-family: "know";
  text-align: center;
}

.zoom::selection {
  color: transparent;
}

.scramble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-7deg);
  font-size: 7vw;
  color: white;
  letter-spacing: 2vw;
  outline: none;
  font-weight: 100;
  font-family: "know";
}

.loading {
  position: relative;
  bottom: -62%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-7deg);
  width: 60%;
  height: 10px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
}

.loading::after {
  content: "";
  position: absolute;
  inset: 0;

  height: 100%;

  border-radius: 12px;
  animation: loading-animation 3s ease-in-out;
}

@keyframes loading-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
    background-color: rgb(222, 24, 24);
  }
  50% {
    width: 50%;
    background-color: rgb(74, 148, 218);
  }
  75% {
    width: 75%;
    background-color: black;
  }
  100% {
    width: 100%;
    background-color: rgb(66, 228, 12);
  }
}

@keyframes load {
  25% {
    background-color: rgb(127, 181, 232);
  }
  50% {
    background-color: rgb(222, 24, 24);
  }
  75% {
    background-color: rgb(148, 114, 13);
  }
  100% {
    background-color: rgb(170, 21, 56);
  }
}

/* header  */

#header {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
}

nav {
  display: flex;
  height: 14%;
  padding: 1.2em 3em;
  justify-content: space-between;
}

#logo {
  width: 20%;
}
#logo img {
  width: 100%;
  height: 100%;
}

#mid {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
#mid h4 {
  font-weight: 600;
  font-size: 14px;
}

#right {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

#right a {
  text-decoration: none;
  color: white;
}

#right button {
  padding: 1em 1.5em;
}

#headerBottom {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 2em;
  gap: 9%;
}

.mtext {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.mtext div {
  font-size: 7.6vw;
  font-weight: 600;
  width: 100%;
}

#midtxt {
  display: flex;
  width: 105%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tbtn {
  display: flex;

  align-items: center;
  justify-content: left;
}
.mtext button {
  padding: 0.8em 2.5em;
  border-radius: 100px;
  font-size: 32px;
  font-family: serif;
  font-weight: 600;
  color: white;
  background-color: brown;
  border: none;
}

.mtxt2 {
  display: flex;
  width: 40%;
  height: 10%;
  justify-content: center;
  gap: 4%;
  align-items: center;
  z-index: 2;
}

.vlogo {
  width: 13%;
}

.vlogo img {
  width: 100%;
}

.mtxt2 div {
  font-size: medium;
  font-weight: 600;
}

.headLower {
  width: 100%;
  display: flex;
}
.icons {
  width: 15%;
  display: flex;
  gap: 15px;
}

.scroll {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.img1 {
  width: 22%;
  height: 70%;
  left: 71%;
  opacity: 1;
  border-radius: 12px;
  position: absolute;
}

.img2 {
  width: 19%;
  height: 29%;
  position: absolute;
  bottom: 12%;
  left: 22%;
  border-radius: 10px;
  opacity: 1;
}

.img3 {
  width: 13%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 7%;
  border-radius: 10px;
  opacity: 1;
}

.fa-angle-down {
  opacity: 0.5;
}
